<div class="profile-holder">
  <div class="container profile-info">
    <h3 *ngIf="username">
      <span>{{username}}</span>
    </h3>

    <div class="user-avatar">
      <img class="img-responsive user-image" [src]="user_avatar">
      <input type="file" name="file" id="imageUpload" class="inputfile" 
             accept="image/x-png,image/gif,image/jpeg" 
             (change)="pictureUpload($event)"/>
      <label for="imageUpload" *ngIf="isMe">
        <i class="fa fa-cloud-upload image-upload-icon" aria-hidden="true"></i>
      </label>
    </div>

    <div class="profile-menu">
      <div class="profile-menu-item" *ngIf="isMe">
        <span (click)="showUserSettings()">
          <i class="fa fa-cog" aria-hidden="true"></i> {{ showSettings? 'Hide Settings': 'Settings' }}
        </span>
      </div>
      <!--<div class="profile-menu-item">
        <i class="fa fa-users" aria-hidden="true"></i> Friends
      </div>-->
    </div>
  </div>

  <div class="user-settings" *ngIf="isMe && showSettings">

    <!-- SETTING ITEM START  ================================================-->
    <div class="user-setting-item">
      <label for="exampleFormControlSelect1">
        <i class="fa fa-eye" aria-hidden="true"></i> Privacy
      </label>

      <div class="user-settins-selector">
        <select id="exampleFormControlSelect1" [(ngModel)]="user_picture_preferences">
          <option *ngFor="let s of possiblePreferences" 
                  [ngValue]="s">
            {{s.name}}
          </option>
        </select>
      </div>
    </div>
    <!-- SETTING ITEM END  ==================================================-->


    <!-- UPDATE SETTING BUTTTON ==============================================-->
    <div class="mt20">
      <button class="btn btn-success btn-sm" (click)="updateUserSettings()">
        <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
      </button>
    </div>
  </div>

</div>


<!-- POSTS -->
<div class="container user-posts-holder" *ngIf="user_posts">

  <div class="posts-by">
    <span>Posts by</span>
    <h4>{{username}}</h4>
  </div>

  <div class="posts-friends-container">

    <!--POSTS-->
    <!--The below line should be used when friends list functionality is used-->
    <!--<div class="user-posts" [class.full-width]="!isMe">-->
    <div class="user-posts full-width">
      <post-component [post]="post" *ngFor="let post of user_posts"></post-component>
    </div>

    <!--=====================================================================-->
    <!-- FRIENDS LIST START-->
    <!--@TODO: make it as a separate friends-list component? -->
    <!--
    <div class="user-friends-list" *ngIf="isMe">
      <div *ngFor="let friend of user_friends">
            <p>{{friend.name}}</p>
        </div>
    
      <div>
        <span class="friends-status online">
            Online 
            <i class="fa fa-circle online-icon" aria-hidden="true"></i>
          </span>
        <div class="friend-item" (click)="goToFriendProfle('Deniz1')">
          <img src="http://via.placeholder.com/50x50" alt="" class="friend-icon">
          <span class="friend-username">User x</span>
        </div>
      </div>

      <div>
        <span class="friends-status offline mt20">
              Offline
              <i class="fa fa-circle offline-icon" aria-hidden="true"></i>
          </span>
        <div class="friend-item" (click)="goToFriendProfle('Deniz7')">
          <img src="http://via.placeholder.com/50x50" alt="" class="friend-icon">
          <span class="friend-username">User x</span>
        </div>
      </div>
    </div> 
    -->
    <!-- FRIENDS LIST END-->
    <!--=====================================================================-->


  </div>
</div>