<div class="profile-holder">
  <div class="container profile-info">
    <h3 *ngIf="username">
      <span>{{username}}</span>
    </h3>

    <div class="user-avatar">
      <img class="img-responsive user-image" [src]="user_avatar">
      <input type="file" 
             name="file" 
             id="file" 
             class="inputfile"
             accept="image/x-png,image/gif,image/jpeg"
             (change)="readUrl($event)"/>
      <label for="file">
        <i class="fa fa-cloud-upload image-upload-icon" aria-hidden="true"></i>
      </label>
    </div>

    <div class="profile-menu">
      <div class="profile-menu-item" *ngIf="isMe">
        <i class="fa fa-cog" aria-hidden="true"></i> Settings
      </div>
      <!--<div class="profile-menu-item">
        <i class="fa fa-users" aria-hidden="true"></i> Friends
      </div>-->
    </div>
  </div>

  <!--<div class="profile-settings">
     <i class="fa fa-cog" aria-hidden="true"></i> Settings
  </div>-->
</div>


<!-- POSTS -->
<div class="container user-posts-holder" *ngIf="user_posts">

  <div class="posts-by">
    <span>Posts by</span>
    <h4>{{username}}</h4>
  </div>

  <div class="posts-friends-container">

    <!--POSTS-->
    <div class="user-posts" [class.full-width]="!isMe">
      <post-component [post]="post" *ngFor="let post of user_posts"></post-component>
    </div>

    <div class="user-friends-list" *ngIf="isMe">
        <!--<div *ngFor="let friend of user_friends">
            <p>{{friend.name}}</p>
        </div>-->

        <div>
          <span class="friends-status online">
            Online 
            <i class="fa fa-circle online-icon" aria-hidden="true"></i>
          </span>
          <div class="friend-item" (click)="goToFriendProfle('Deniz1')">
              <img src="http://via.placeholder.com/50x50" alt="" class="friend-icon">
              <span class="friend-username">User x</span>
            </div>
            <div class="friend-item" (click)="goToFriendProfle('Deniz2')">
              <img src="http://via.placeholder.com/50x50" alt="" class="friend-icon">
              <span class="friend-username">User x</span>
            </div>
            <div class="friend-item" (click)="goToFriendProfle('Deniz3')">
              <img src="http://via.placeholder.com/50x50" alt="" class="friend-icon">
              <span class="friend-username">User x</span>
            </div>
            <div class="friend-item" (click)="goToFriendProfle('Deniz4')">
              <img src="http://via.placeholder.com/50x50" alt="" class="friend-icon">
              <span class="friend-username">User x</span>
            </div>
            <div class="friend-item" (click)="goToFriendProfle('Deniz5')">
              <img src="http://via.placeholder.com/50x50" alt="" class="friend-icon">
              <span class="friend-username">User x</span>
            </div>
            <div class="friend-item" (click)="goToFriendProfle('Deniz6')">
              <img src="http://via.placeholder.com/50x50" alt="" class="friend-icon">
              <span class="friend-username">User x</span>
            </div>
        </div>

        <div>
          <span class="friends-status offline mt20">
              Offline
              <i class="fa fa-circle offline-icon" aria-hidden="true"></i>
          </span>
            <div class="friend-item" (click)="goToFriendProfle('Deniz7')">
              <img src="http://via.placeholder.com/50x50" alt="" class="friend-icon">
              <span class="friend-username">User x</span>
            </div>
            <div class="friend-item" (click)="goToFriendProfle('Deniz8')">
              <img src="http://via.placeholder.com/50x50" alt="" class="friend-icon">
              <span class="friend-username">User x</span>
            </div>
            <div class="friend-item" (click)="goToFriendProfle('Deniz9')">
              <img src="http://via.placeholder.com/50x50" alt="" class="friend-icon">
              <span class="friend-username">User x</span>
            </div>
            <div class="friend-item" (click)="goToFriendProfle('Deniz10')">
              <img src="http://via.placeholder.com/50x50" alt="" class="friend-icon">
              <span class="friend-username">User x</span>
            </div>
            <div class="friend-item" (click)="goToFriendProfle('Deniz11')">
              <img src="http://via.placeholder.com/50x50" alt="" class="friend-icon">
              <span class="friend-username">User x</span>
            </div>
            <div class="friend-item" (click)="goToFriendProfle('Deniz12')">
              <img src="http://via.placeholder.com/50x50" alt="" class="friend-icon">
              <span class="friend-username">User x</span>
            </div>
        </div>
    </div>
  </div>
</div>