<div class="container">
  <!--LANDING PICTURE-->
  <div class="flex-center">
    <img src="assets/images/landing-picture3.png" alt="" class="landing-image">
  </div>

  <!--SLOGAN-->
  <div class="landing-slogan flex-center">
    With <span class="landing-branding">FacePost</span> the world is at your fingertips
  </div>

  <!-- BUTTONS-->
  <div class="flex-center">
    <!--Login-->
    <a routerLink="/login" class="landing-button landing-button-login">
      <i class="fa fa-sign-in" aria-hidden="true">
        <span class="landing-button-text">Login</span>
      </i>
    </a>
    <!--Register-->
    <a routerLink="/register" class="landing-button landing-button-register">
      <i class="fa fa-user-plus" aria-hidden="true">
        <span class="landing-button-text">Register</span>
      </i>
    </a>
  </div>
</div>

<!--=========================================================================-->
<!--<div class="container">
  <h1 class="header">FacePost</h1>
  <br> Welcome to <span class="brand-name">FacePost</span>, choose wisely...
  <br>
  <button class="btn btn-danger btn-goto-login" routerLink="/login">
      Login to existing account
  </button>
  <button class="btn btn-danger btn-goto-create-account" routerLink="/register">
    Create a new account
  </button>
</div>-->