<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarsExampleDefault" (click)="showMenu()">
        <span class="navbar-toggler-icon"></span>
      </button>
  <a class="navbar-brand" routerLink="/home">FacePost</a>

  <div class="collapse navbar-collapse" [class.show]="menuIsVisible" id="navbarsExampleDefault">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home" *ngIf="loggedInUser">
            <i class="fa fa-home" data-target=".navbar-collapse" aria-hidden="true">
                    </i>Home <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item" (click)="collapseMenu()">
        <a class="nav-link" routerLink="/create-post" data-target=".navbar-collapse" *ngIf="loggedInUser">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Create Post
        </a>
      </li>
      <li class="nav-item" (click)="collapseMenu()">
        <a class="nav-link" routerLink="/user/me" *ngIf="loggedInUser">
          <i class="fa fa-user-circle" aria-hidden="true"></i>
          Profile <span class="sr-only">(current)</span>
        </a>
      </li>
      <!--<li class="nav-item" (click)="collapseMenu()">
        <a class="nav-link" routerLink="/friends" *ngIf="loggedInUser">
          <i class="fa fa-users" aria-hidden="true"></i>
          Friends <span class="sr-only">(current)</span>
        </a>
      </li>-->
      <li class="nav-item" (click)="collapseMenu()">
        <a class="nav-link" routerLink="/login" *ngIf="!loggedInUser">
          Login
        </a>
      </li>
      <li class="nav-item" (click)="collapseMenu()">
        <a class="nav-link" routerLink="/register" *ngIf="!loggedInUser">
          Register
        </a>
      </li>
      <li class="nav-item" (click)="collapseMenu()" (click)="logout()" *ngIf="loggedInUser">
        <a class="nav-link">
          <i class="fa fa-sign-out" aria-hidden="true"></i>Logout
        </a>
      </li>
    </ul>
  </div>
</nav>